/* Media */

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
    }
    .hero-section {
       background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section {
                background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
            }
        }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .header-list {
        display: flex;
        gap: 40px;
    }
    
    .nav-link {
        display: block;
        font-weight: 500;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
    
        padding-top: 24px;
        padding-bottom: 24px;
    
        transition: color var(--time-trans);
    }
    
    .nav-link:hover,
    .nav-link:focus,
    .current {
        color: var(--pressed-state-color);
    }

    .current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--pressed-state-color);
    }
    
    .nav-item {
        position: relative;
    }

    .contact-link {
        color: inherit;
        line-height: calc(24 / 16);
        letter-spacing: 0.02em;
        font-style: normal;
        transition: color var(--time-trans);
    }
    
    .contact-link:hover,
    .contact-link:focus {
        color: var(--pressed-state-color);
    }
    
    .address-list {
        font-style: normal;
    }
    
    .contact-list {
        display: flex;
        gap: 40px;
    }

    .hero-section {
        background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-section {
                background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
            }
        }

    .hero-title {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: calc(60 / 56);
    }

    .benefits-list {
        column-gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .list-title {
        text-align: left;
    }

    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .customers-item {
        flex-basis: calc((100% - 48px) / 3);
    }
    .customer-list {
        column-gap: 24px;
    }

    .footer-wrap {
        display: flex;
        gap: 24px;
    }
    .footer-logo-wrap,
    .footer-soc-title {
        text-align: left;
    }
    .footer-soc {
        margin-left: 0;
        margin-bottom: 72px;
    }
    .footer-subs-form {
        display: flex;
        gap: 24px;
    }
    .footer-subs-input {
        width: 264px;
    }
    .subs-btn {
        margin: 0;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
    }
    .hero-title {
        margin-bottom: 48px;
    }

    .benefits-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--background-alternate-color);
        height: 112px;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24 / 20);
    }

    .benefits-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .works {
        display: unset;
    }

    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    .customer-list {
        flex-wrap: nowrap;
    }

    .customers-item {
        width: calc((100% - 24px * 5) / 6);
    }

    .footer-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer-container {
        display: flex;
        gap: 80px;
    }
    .footer-wrap {
        gap: 120px;
    }
    .footer-content {
        padding-bottom: 0;
    }
    .footer-soc {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-section>.container,
    .customers-section > .container,
    .footer-section > .container {
        width: 582px;
    }
}

